*.iml
.gradle
**/.gradle/
**/.idea/
**/.kotlin/
**/build/
**/local.properties
/build
/captures
/.codex-change-log/
/reference/
/.idea/
/.kotlin/
/.vscode/
/local.properties
.DS_Store
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
*.log
hs_err_pid*
